@import url('https://fonts.googleapis.com/css?family=Merienda');

html{
  font-family: 'Merienda', cursive;
}

body{
  background : url("./bkgr.jpg");
  background-size: 790px 1000px;
  background-size: cover;
  margin : 0;

}
header{
  background-color : black;
  position :absolute;
  color : white;
  text-align : center;
}
h1{
  margin : 0;
  padding-right:10px;
  padding-left:10px;
  padding-top :10px;
  padding-bottom:10px;
}
  .saumon{
    color : #f68a6a
  
  }
  .title{
  text-align : center;
  border : #f68a6a;
  background :#f68a6a;
  color : white;
  }
  footer {
  background : black;
  bottom: 0;
  left: 0;
  position:fixed;
  right: 0;
  text-align: center;
  color: white;
  font-size  : 25px;
 
  }

  @-webkit-keyframes hvr-bob {
    0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    }
    50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    }
    100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    }
    }
    @keyframes hvr-bob {
    0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    box-shadow: 0px 30px 10px #ffe098;
    }
    
    50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    
    
    
    }
    
    100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    box-shadow:0px 8px 0px #eed9aa;
    
    }
    }
    @-webkit-keyframes hvr-bob-float {
    100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    box-shadow: 0px 30px 10px #fbefd1;
    }
    }
    @keyframes hvr-bob-float {
    100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    box-shadow: 0px 30px 10px #fbd786;
    }
    }
    .hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0px 8px 10px#fbd786;
    margin :auto;
    margin-top : 13%;
    height : 160px;
    width : 160px;
    border-radius: 50%;
    border : white;
    background: radial-gradient(#f37954, #f8b9a6 );
    color : white;
    font-size : 24px;
    font-family: 'Merienda', cursive;
    font-weight: bolder;
    text-shadow: 0px 5px 0px black
     }
    .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
    }
    .div-button{
      display : flex;
      justify-content :center;
    }
    .authButton{
    box-shadow: 0px 8px 10px#fbd786;
    margin-top : 13%;
    height : 160px;
    width : 320px;
    border : white;
    background: radial-gradient(#f37954, #f8b9a6 );
    color : white;
    font-size : 24px;
    font-family: 'Merienda', cursive;
    font-weight: bolder;
    text-shadow: 0px 5px 0px black;
    margin: auto;
    border-radius : 10%;
    }

    .ficheButton
    {
    box-shadow: 0px 8px 10px#fbd786;
    height : 80px;
    width : 160px;
    border : white;
    background: radial-gradient(#f37954, #f8b9a6 );
    color : white;
    font-size : 24px;
    font-family: 'Merienda', cursive;
    font-weight: bolder;
    text-shadow: 0px 5px 0px black;
    margin: auto;
    border-radius : 10%;
    }
    .ficheButton1
    {
    border : white;
    background: linear-gradient(#f37954, #f8b9a6 );
    color : white;
    font-size : 20px;
    font-family: 'Merienda', cursive;
    font-weight: bolder;
    text-shadow: 0px 5px 0px black;
    margin-top : 25%;
    border-radius : 10%;
    padding: 3px
;    }
    .ficheButton2
    {
    box-shadow: 0px 8px 10px#fbd786;
    height : 50px;
    width : 300px;
    border : white;
    background: radial-gradient(#f37954, #f8b9a6 );
    color : white;
    font-size : 24px;
    font-family: 'Merienda', cursive;
    font-weight: bolder;
    
    
    margin-top : 15%;
    border-radius : 10%;
    }
    .ecran1{
      width : 700px;
      margin : auto;
      background : rgb(231, 230, 230);
      box-shadow: -8px 15px 50px black;
      border-radius : 5px;
      margin-top : 2%;
    
      margin-bottom: 10%
    }
    .ecran1 img {
     padding : 5%;
    }
    .ecran1 p {
      font-size : 0.8em;
    }
    
    .ecran{
      max-width : 900px;
      margin : auto;
      background : white;
      box-shadow: -8px 15px 50px black;
      border-radius : 5px;
      margin-top : 2%;
    }
    .ecran img {
      border : 2px solid black;
      margin : auto;
    }
    .question{
      display : flex;
      }
      .reponse{
      display : flex ;
      flex-direction : column;
      font-size: 1.6em;
      }
      .reponseImage{
      display : flex;
      flex-wrap : wrap;
      margin-left: 20%;
      margin-right: 10%;
      font-size: 1.6em;
      display : inline-flex;
      }
     
      .title1{
      font-size : 2em;
      text-align: center;
      border : 2px solid #f68a6a;
      border-radius : 5px;
      margin : auto
      }
      .flex{
        display :flex;
        
      }
      .flex1{
        display :flex;
        flex-direction : column;
      }
      .flex1 select{
        box-shadow: 0px 8px 10px#fbd786;
        height : 50px;
        width : 300px;
        border : white;
        background: radial-gradient(#f37954, #f8b9a6 );
        color : white;
        font-size : 24px;
        font-family: 'Merienda', cursive;
        font-weight: bolder;
        border-radius : 10%;
        box-shadow: -8px 15px 50px black;
      }
      .flex1 option{
        color : black;
      }
      .cssChoice{
       
        margin-left: 25%;
        border : 3px double #f68a6a;
        background: rgb(240, 240, 240);
        font-size : 20px;
        color : #f68a6a;
        text-align : center;
        box-shadow: -8px 15px 50px black;

      }
      .cssChoiceQuestions{
        display: flex;
      }
      .cssJustChoices{
        display: flex;
        flex-direction: column;
        
      }
      .horloge{
        margin-right : 5%;
        border: 6px solid #f68a6a ;  
        height : 150px;
        width : 150px;
        border-radius : 50%;
        box-shadow: -6px 8px 20px black;
      }
      .horloge1{
        margin-right : 5%;
        border: 6px solid #f68a6a ;  
        height : 150px;
        width : 150px;
        border-radius : 50%;
        box-shadow: -6px 8px 20px black;
      }
     .displayHorloge{
        display : flex;
        justify-content: flex-end;
      }

      h4{
        text-align: center;
        font-size : 34px;
        color : #f68a6a ;
        background: rgb(240, 240, 240);
        
      }
      .h1{
        padding : 5%;
      }
      #tailleImageReponse{
        height: 50px;
        width : 50px;
        border-radius : 50%;
        border : 2px solid black
      
      }
      .imageClicked{
        border-width: 5px;
        border-image: linear-gradient(224deg, #09F5B8, #F5D109, #FB0000) 1;
        border-style : solid;
      }

      #imageClicked{
        border-width: 5px;
        border-image: linear-gradient(224deg, #09F5B8, #F5D109, #FB0000) 1;
        border-style : solid;
      }
      option{
        justify-content: center
      }