#boxFichePlayer{
    background-color: alpha;
    border: 2px ;
    width: 500px;
    text-align: center;
    margin: auto;
    padding : 10px;
}
#boxFichePlayer img{
    border : 2px solid black;
    
}
#txtGetAvatar{
    text-align: center;
    color: green;
}
#IdentificatorGithub{
text-align: center;
margin: auto;
margin-top  :5%;
width: 400px;
height: 400px;
border: solid black 3px;
box-shadow: 2px 4px 0px;

}
#centerIdentificator{
    text-align: center;
    margin-top: 25%;
}
#txtValidPseudo{
    color: green;
    display: none;
}
#txtIdGithub{
    text-align: center;
    
}